$app-font-family: 'Roboto', sans-serif;
$app-color: #0049C6;
$base-color: #F9FAFC;
$light-color: lighten(#000, 95%)  ;
$sidebar-width: 350px;
$sidebar-navigation-width: 80px;
$default-transition-duration: 0.35s;
