@import '../variables';
@import '../utilities/mixins';

@mixin avatar-group-mixin {
  display: flex;

  img, .more-user, .no-img {
    flex-shrink: 0;
    border-radius: 50%;
    margin-left: -15px;
    border: 2px solid #fff;
    transition: $default-transition-duration;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      z-index: 1;
      transform: translateY(-2px);
    }
  }

  .more-user, .no-img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    color: $app-color;
    background-color: lighten($app-color, 55%);
  }
}

@mixin rounded-button-mixin {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  transition: $default-transition-duration;

  i {
    font-size: 18px;
    color: $app-color;
    margin-right: 10px;
  }

  &:focus {
    outline: none;
  }
}

.label {
  display: flex;
  align-items: center;

  .label-dot {
    width: 6px;
    min-height: 6px;
    flex-shrink: 0;
    margin-right: 9px;
    border-radius: 50%;

    &.important {
      background-color: $app-color;
    }

    &.irrelevant {
      background-color: #e8840c;
    }

    &.default {
      background-color: #b4b4b4;
    }
  }

  .label-title {
    margin: 0;
  }
}

.user-media {
  display: flex;
  align-items: center;

  img, .no-img {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
  }

  .no-img {
    font-size: 15px;
    line-height: 45px;
    text-align: center;
    background-color: lighten($app-color, 55%);
  }

  .user-name {
    margin: 0;
    font-weight: 500;
    color: lighten(#000, 40%);
  }
}

.page-intro-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;

  .project-users {
    display: flex;
    align-items: center;

    .user-group {
      img, .more-user, .no-img {
        width: 40px;
        height: 40px;
      }

      @include avatar-group-mixin;
    }

    .btn-invite {
      margin-left: 20px;
      padding: 0.45rem 1.4rem;
      background-color: transparent;
      border: 2px solid lighten(#000, 90%);
      @include rounded-button-mixin;

      &:hover {
        background-color: lighten(#000, 90%);
      }
    }
  }

  .project-labels {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;

    .label {
      margin-right: 15px;

      .label-title {
        font-weight: normal;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.kanban-wrapper {
  .draggable-wrapper {
    display: flex;

    .draggable-column {
      flex: 1;
      min-height: 400px;
      margin-right: 30px;

      .column-header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        .column-title {
          flex-shrink: 0;

          .column-items-number {
            color: lighten(#000, 60%);
          }
        }

        .btn-add-task {
          border: none;
          flex-shrink: 0;
          font-size: 14px;
          padding: 0.4rem 1rem;
          background-color: lighten(#000, 90%);
          @include rounded-button-mixin;

          &:hover {
            background-color: lighten(#000, 80%);
          }
        }
      }

      .project-card {
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.35rem;
        background-color: #fff;
        box-shadow: 0 1rem 3rem rgb(0, 0, 0, 0.05);

        .description {
          font-size: 14px;
          color: darken($light-color, 40%);
        }

        .card-footer {
          margin-top: 1.2rem;
          padding-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 2px solid $light-color;

          .user-group {
            img, .more-user, .no-img {
              width: 30px;
              height: 30px;
            }

            @include avatar-group-mixin;
          }

          .dropdown-action {
            position: relative;
            display: inline-block;

            button {
              width: 30px;
              height: 30px;
              border: none;
              cursor: pointer;
              font-size: 14px;
              text-align: center;
              line-height: 30px;
              border-radius: 50%;
              background-color: transparent;
              color: darken($light-color, 40%);
              transition: $default-transition-duration;

              &:hover, &:focus {
                background-color: $light-color;
              }
            }

            .dropdown-content {
              display: none;
              position: absolute;
              right: 0;
              z-index: 1;
              padding: 6px 0;
              overflow: auto;
              font-size: 14px;
              min-width: 110px;
              border-radius: 0.5rem;
              background-color: #fff;
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);

              a {
                display: block;
                padding: 8px 16px;
                color: darken($light-color, 40%);
                transition: $default-transition-duration;

                &:hover {
                  background-color: $base-color;
                }
              }

              &.show {
                display: block;
              }
            }
          }
        }
      }

      .ghost-card {
        opacity: 0.5;
        background: #F7FAFC;
        border: 1px solid #4299e1;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 575px) {
    .draggable-wrapper {
      display: block;

      .draggable-column {
        width: 100%;
        margin: 0 0 1rem 0;
      }
    }
  }
}

.users-modal {
  .invited-users {
    max-height: 70vh;
    overflow-y: auto;
    @include scrollbar-mixin;

    .user-media {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.task-modal {
  .modal-content {
    .modal-header {
      margin-bottom: 0;
    }
  }

  .tab {
    margin: 0 5px;

    .tab-header {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      list-style: none;
      align-items: center;

      .tab-menu-item {
        flex: 1;
        cursor: pointer;
        padding: 22px 0;
        font-size: 17px;
        font-weight: 400;
        text-align: center;
        position: relative;
        color: darken($light-color, 60%);
        transition: $default-transition-duration;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 35%;
          height: 3px;
          border-radius: 2px;
          background: $light-color;
          transition: all 0.3s ease;
          transform: translate(-50%, 0%);
        }

        &:hover {
          color: darken($light-color, 70%);

          &:after {
            background: darken($light-color, 30%);
          }
        }

        &.active {
          color: $app-color;

          &:after {
            background: $app-color;
          }
        }
      }
    }

    .tab-content {
      overflow: hidden;
      position: relative;

      .tab-list {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        position: relative;
        transition: all 0.25s linear;

        .tab-list-item {
          opacity: 0;
          width: 100%;
          min-width: 100%;
          padding: 10px 0;
          position: relative;
          box-sizing: border-box;
          transition: opacity $default-transition-duration;

          .form-group {
            margin-bottom: 1.2rem;

            label {
              display: block;
              font-size: 14px;
              font-weight: 600;
              margin-bottom: 0.4rem;
            }

            &.search-employee {
              margin-top: 0.5rem;
            }
          }

          .employees-wrapper {
            overflow-y: auto;
            max-height: 271px;
            @include scrollbar-mixin;

            .employee {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 1rem 0;
              border-bottom: 1px solid $light-color;

              &:first-child {
                padding-top: 0;
              }

              &:last-child {
                border-bottom: none;
              }

              .btn-remove {
                border: none;
                font-size: 20px;
                cursor: pointer;
                background-color: transparent;
                color: darken($light-color, 40%);
                transition: $default-transition-duration;

                &:hover {
                  color: #b42222;
                }
              }
            }
          }

          &.active {
            opacity: 1;
          }
        }
      }
    }
  }

  .btn-save {
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 0.6rem 1.5rem;
    background-color: $app-color;
    @include rounded-button-mixin;
  }
}